{% if site.plugin_zoom -%}
<script src="{% link {{ site.reveal_path }}plugin/zoom/zoom.js %}"></script>
{%- endif %}
{% if site.plugin_notes_server -%}
<script src="{% link {{ site.reveal_path }}plugin/notes/notes.js %}"></script>
{%- endif %}
{% if site.plugin_search -%}
<script src="{% link {{ site.reveal_path }}plugin/search/search.js %}"></script>
{%- endif %}
{% if site.plugin_markdown -%}
<script src="{% link {{ site.reveal_path }}plugin/markdown/markdown.js %}"></script>
{%- endif %}
{% if site.plugin_highlight -%}
<script src="{% link {{ site.reveal_path }}plugin/highlight/highlight.js %}"></script>
{%- endif %}
{% if site.plugin_math -%}
<script src="{% link {{ site.reveal_path }}plugin/math/math.js %}"></script>
{%- endif %}
{% if site.plugin_menu -%}
<script src="{% link {{ site.plugin_menu_path }}menu.js %}"></script>
{%- endif %}
{% if site.plugin_chalkboard -%}
<script src="{% link {{ site.plugin_chalkboard_path }}plugin.js %}"></script>
{%- endif %}

{% if site.plugin_explain_git -%}
<script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
{%- endif %}

<script type="module">
    import Reveal from '{% link {{ site.reveal_path }}dist/reveal.esm.js %}';
    window.Reveal = Reveal;

    {% if site.plugin_coding_questionnaire -%}
    import CodingQuestionnaire from '{% link {{ site.plugin_coding_questionnaire_path }}coding-questionnaire.js %}';
    {%- endif %} 

    {% if site.plugin_citation -%}
    import Citation from '{% link {{ site.plugin_citation_path }}citation.js %}';
    {%- endif %}
    
    {% if site.plugin_puml_viewer -%}
    import PumlViewer from '{% link {{ site.plugin_puml_viewer_path}}puml-viewer.js %}';
    {%- endif %}

    {% if site.plugin_countdown -%}
    import RevealCountdown from '{% link {{ site.plugin_countdown_path}}countdown.js %}';
    {%- endif %}

    {% if site.plugin_bugreport -%}
    import RevealBugReport from '{% link {{ site.plugin_bugreport_path}}bugreport.js %}';
    {%- endif %}

    {% if site.plugin_explain_git -%}
    import ExplainGit from '{% link {{ site.plugin_explain_git_path}}explain-git.js %}';
    {%- endif %}

    {% if site.plugin_eduvote -%}
    import RevealEduVote from '{% link {{site.plugin_eduvote_path}}eduvote.js %}'
    {%- endif %}

    // Also available as an ES module, see:
    // https://revealjs.com/initialization/
    Reveal.initialize({
        width: 1244,
        height: 700,
        controls: true,
        progress: true,
        center: true,
        hash: true,
        slideNumber: true,
        showSlideNumber: 'all',
        pdfSeparateFragments: false,
        {% if site.plugin_menu -%}
        menu: {
            delayInit: false,
            titleSelector: '{{ site.plugin_menu_title_selector | default: "h1, h2" }}',
            hideMissingTitles: true,
            themes: true,
            themesPath: '{{ site.reveal_theme_path | relative_url }}',
            custom: [
                { title: 'Links', icon: '<i class="fa fa-link">',  src: '{% link assets/html/MenuLinks.html %}' },
            ]
        },
        {%- endif %}

        {% if site.plugin_custom_controls -%}
            customcontrols: {
                controls: [
                {% if site.plugin_chalkboard -%}
                { icon: '<i style="font-size: 24px" class="fa fa-pen-square"></i>',
                    title: 'Toggle chalkboard (B)',
                    action: 'RevealChalkboard.toggleChalkboard();'
                },
                { icon: '<i style="font-size: 24px" class="fa fa-pen"></i>',
                    title: 'Toggle notes canvas (C)',
                    action: 'RevealChalkboard.toggleNotesCanvas();'
                },
                {%- endif %}
            ]
            },
        {% endif %}
        {% if site.plugin_chalkboard -%}
        chalkboard: {
            boardmarkerWidth: 3,
            chalkWidth: 7,
            chalkEffect: 1.0,
            storage: null,
            src: null,
            readOnly: undefined,
            transition: 800,
            theme: "whiteboard",
            eraser: { src: path + 'img/sponge.png', radius: 20},
            boardmarkers : [
                { color: 'rgba(50,205,50,1)', cursor: 'url(' + path + 'img/boardmarker-green.png), auto'},
                { color: 'rgba(220,20,60,1)', cursor: 'url(' + path + 'img/boardmarker-red.png), auto'},
                { color: 'rgba(30,144,255, 1)', cursor: 'url(' + path + 'img/boardmarker-blue.png), auto'},
            ],
            chalks: [
                { color: 'rgba(50,205,50,1)', cursor: 'url(' + path + 'img/boardmarker-green.png), auto'},
                { color: 'rgba(220,20,60,1)', cursor: 'url(' + path + 'img/boardmarker-red.png), auto'},
                { color: 'rgba(30,144,255, 1)', cursor: 'url(' + path + 'img/boardmarker-blue.png), auto'},
            ]
        },
        {%- endif %}

        {% if site.plugin_bugreport -%}
        bugreport: {
            email: "{{ site.email }}",
            lecture: "{{ site.title }}",
            button: { left: "150px", bottom: "30px", top: "auto", right: "auto" }
        },
        {%- endif %}

        keyboard: {
              33: 'prev'
            , 34: 'next'
        },

        {% if site.plugin_eduvote -%}
        eduvote: {

        },
        {%- endif %}

        plugins: [
            {% if site.plugin_coding_questionnaire -%}
            CodingQuestionnaire,
            {%- endif %}
            {% if site.plugin_highlight -%}
            RevealHighlight, 
            {%- endif %}
            {% if site.plugin_markdown -%}
            RevealMarkdown, 
            {%- endif %}
            {% if site.plugin_zoom -%}
            RevealZoom, 
            {%- endif %}
            {% if site.plugin_math -%}
            RevealMath,
            {%- endif %}
            {% if site.plugin_notes_server -%}
            RevealNotes, 
            {%- endif %}
            {% if site.plugin_search -%}
            RevealSearch,
            {%- endif %}
            {% if site.plugin_menu -%}
            RevealMenu,
            {%- endif %}
            {% if site.plugin_custom_controls -%}
            RevealCustomControls,
            {% endif %}
            {% if site.plugin_chalkboard -%}
            RevealChalkboard,
            {%- endif %}
            {% if site.plugin_citation -%}
            Citation,
            {%- endif %}
            {% if site.plugin_puml_viewer -%}
            PumlViewer,
            {%- endif %}
            {% if site.plugin_countdown -%}
            RevealCountdown,
            {%- endif %}
            {% if site.plugin_bugreport -%}
            RevealBugReport,
            {%- endif %}
            {% if site.plugin_explain_git -%}
            ExplainGit,
            {%- endif %}
            {%- if site.plugin_eduvote -%}
            RevealEduVote
            {%- endif %}
        ]
    }).then(() => {
        // Allow data-fragments to appear with code
        Array.from(Reveal.getRevealElement().querySelectorAll('[data-fragment-tmp-index]')).forEach((block) => {
                console.log('found an element');
                var tmp = block.getAttribute( 'data-fragment-tmp-index');
                block.classList.add('fragment');
                block.setAttribute('data-fragment-index', tmp);
        });
    });;

</script>

{% if site.plugin_live_coding -%}
    <script src="{% link {{ site.plugin_live_coding_path }}codemirror-live-coding.js %}"></script>
{%- endif %}
