<head>
    <meta charset="utf-8">

    {% if site.title %}<title>{{ site.title }}</title>{% endif %}

    {% if site.description %}
    <meta name="description" content="{{ site.description }}">{% endif %}
    {% if site.author %}
    <meta name="author" content="{{ site.author }}">{% endif %}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Reveal CSS -->
    <link rel="stylesheet" href="{% link {{ site.reveal_path }}dist/reveal.css %}">

    {% if site.plugin_live_coding -%}
    <!-- CSS for LiveCoding Plugin -->
    <link rel="stylesheet" href="{% link {{ site.plugin_live_coding_path }}codemirror-live-coding.css %}">
    {%- endif %}

    {% if site.plugin_coding_questionnaire -%}
    <!-- CSS for Coding Questionnaire -->
    <link rel="stylesheet" href="{% link {{ site.plugin_coding_questionnaire_path }}coding-questionnaire.css %}">
    {%- endif %}

    {% if site.plugin_chalkboard -%}
    <!-- CSS for Chalkboard Plugin -->
    <link rel="stylesheet" href="{% link {{ site.plugin_chalkboard_path }}style.css  %}">
    {%- endif %}

    {% if site.plugin_explain_git -%}
    <link rel="stylesheet" href="{% link {{ site.plugin_explain_git_path }}css/explaingit.css %}">
    {%- endif %}

    <!-- CSS for theme -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.id = 'theme';
        link.href = '{{ site.reveal_theme_path | relative_url }}';
        var pathContainsWhite = window.location.search.match(/white/gi);
        link.href += pathContainsWhite ? '{{ site.reveal_theme_print }}' : '{{ site.reveal_theme }}';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!-- CSS for highlight -->
    <script>
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.id = 'theme';
        link.href = '{{ site.highlight_style_path | relative_url }}';
        var pathContainsWhite = window.location.search.match(/white/gi);
        link.href += pathContainsWhite ? '{{ site.highlight_style_sheet_print }}' : '{{ site.highlight_style_sheet }}';
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!-- Customization -->
    <link rel="stylesheet" href="{{ '/assets/css/reveal-overwrite.css' | prepend: site.template_path | relative_url }}" />
    <script>
        var pathContainsWhite = window.location.search.match(/white/gi);
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = pathContainsWhite ? "{{ '/assets/css/box_bright.css' | prepend: site.template_path | relative_url }}" : "{{ '/assets/css/box_dark.css' | prepend: site.template_path | relative_url }}";
        document.getElementsByTagName('head')[0].appendChild(link);
    </script>

    <!-- Font Aweseome -->
    {% if site.font_awesome -%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endif %}

    {% if site.plugin_custom_controls -%}
    <script src="https://cdn.jsdelivr.net/npm/reveal.js-plugins@latest/customcontrols/plugin.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reveal.js-plugins@latest/customcontrols/style.css">
    {% endif %}
</head>