dl.same-line {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  /* set the container width*/
  overflow: visible;
}

dl.same-line dt {
  flex: 0 0 30%;
  text-overflow: ellipsis;
  overflow: hidden;
}

dl.same-line dd {
  flex: 0 0 70%;
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}