
/* Font setting for whole slide */
.reveal section.medium-font p {
  font-size: x-large;
}
.reveal section.medium-font ul {
  font-size: x-large;
}
.reveal section.medium-font ol {
  font-size: x-large;
}
.reveal section.medium-font span {
  font-size: x-large;
}

/* Font setting for individual parts of slide */
.reveal section p.medium-font {
  font-size: x-large;
}
.reveal section ul.medium-font {
  font-size: x-large;
}
.reveal section div.medium-font > p {
  font-size: x-large;
  text-align:left;
}
.reveal section div.medium-font > ul {
  font-size: x-large;
}
.reveal section span.medium-font {
  font-size: x-large;
}
.reveal section div.medium-font {
  font-size: x-large;
}  
