.list-with-title {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}

.list-with-title>h4 {
  text-transform: none;
  margin-bottom: 0.2em;
  margin-top: 1em;
  font: inherit;
  font-weight: bold;
}

.list-with-title>h3 {
  text-transform: none;
  margin-bottom: 0.2em;
  margin-top: 1em;
  font: inherit;
  font-weight: bold;
}

.list-with-title>h2 {
  text-transform: none;
  margin-bottom: 0.2em;
  margin-top: 1em;
  font: inherit;
  font-weight: bold;
}