.literature-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 0.5em;
}

.literature-text {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 7;
}

.literature-img {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin-left: 0.5em;
}