@import "dl-same-line.css";
@import "list-with-title.css";
@import "literature.css";
@import "fonts.css";
@import "keyboard.css";

/* Load and place Logo */
.reveal img.logo {
  padding: 4px;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
  width: auto;
  height: 10%;
  z-index: 20;
  background-color:rgba(0, 0, 0, 0);
}

/* Customize slide number */
.reveal .slide-number {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  width: 7%;
  left: 0;
  right: 0;
  padding: 10px;
  font-size: 25px;
  background-color: transparent;
}

/* Alternatively, class="plain" can be used */
.reveal section img {
  background: none;
  border: none;
  box-shadow: none;
}

.reveal figcaption {
  font-size: large; 
  margin-top: -1em;
}

.reveal.p {
  font-size: xx-large;
}
.reveal ol,
.reveal dl,
.reveal ul {
  font-size: xx-large;
}

.reveal ol ol,
.reveal ul ul {
  font-size: x-large;
}

.reveal h1 {
  font-size: var(--r-heading2-size);
  text-shadow: none;
}

/* align paragraphs left by default */
.reveal .slides p { text-align:left; }
.reveal .slides p.center {display:block; margin-left:auto; margin-right:auto }
.reveal .slides div.center > p {display:block; margin-left:auto; margin-right:auto; text-align:center }

/* center images by default */
.reveal .slides p > img {display:block; margin-left:auto; margin-right:auto }
.reveal .slides p > img.left   {display:block; margin-left:0; margin-right:auto }

.reveal ul {
  display: block;
  text-align: left; 
  margin: 0 0 0 1em;
}
.reveal div.center > ul {
  display: inline-block;
  text-align: left; 
  margin: 0 0 0 1em;
}

.reveal ol {
  display: block;
  text-align: left; 
  margin: 0 0 0 1em;
}
.reveal div.center > ol {
  display: inline-block;
  text-align: left; 
  margin: 0 0 0 1em;
}


.column {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.mybox {
  margin: 10px;
  padding: 10px;
  border: 3px solid;
}

/* add white background and padding to all svg images */
.reveal section img[src$=".svg"] {
  /* for some reason this is not working */
  background-color: white;
  padding: 20px;
}

.reveal section img.transparent-background[src$=".svg"] {
  /* for some reason this is not working */
  background-color: rgba(0,0,0,0.0);
  padding: 20px;
}

ul.left-list {
  display: block; 
  text-align: left; 
  margin: 0 0 0 1em;
}

ol.left-list {
  display: block; 
  text-align: left; 
  margin: 0 0 0 1em;
}

p[citation] {
  font-size: x-large;
  text-align: center;
  margin-top: -1em;
}

p.center {
  text-align: center;
}

.reveal section.small-font p {
  font-size: x-large;
}
.reveal section.small-font ul {
  font-size: x-large;
}

.reveal ul.left {
  display : block;
  text-align: left;
}
