<!doctype html>
<html lang="en">

{% include revealjs-head.html %}
 
<body>

	<div class="reveal">
        <!-- University / company Logo -->
        {% if site.logo %}
        <!-- University / company Logo -->
        <img class="logo" src="{{ site.logo | relative_url }}" alt="Logo"></img>
        {% endif %}
        
		<div class="slides">

            <!-- Generate Entry Slide -->
            <section>
                <h1 style="text-align: left; text-transform:none">{{ site.title }}</h2>
                <p style="text-align: left">{{ page.author }}</p>
            </section>

            <!-- Generate TOC from collections -->
            <section>
                {%- assign pages = site.pages | where_exp: 'page', 'page.subtitle' -%}

                <h3>Vorlesungsfolien</h3>
                {% if pages.size > 8 %}
                <div class="columns">
                    <div class="column" style="width:50%;">
                        <div class="center">
                        <ol>
                            {%- for page in pages limit:8 %}
                                {%- if page.ready == true %}
                                <li><a href="{{ page.url | relative_url }}">{{page.subtitle}}</a>
                                    {%- if site.hide_pdf_links == true %}
                                    {%- else %}
                                    <sup>
                                        <a href="{{ page.name | remove: ".md" | append: ".pdf"       | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                                            [pdf]
                                        </a>
                                    </sup>
                                    <sup>
                                        <a href="{{ page.name | remove: ".md" | append: "_print.pdf" | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                                            [pdf-print]
                                        </a>
                                    </sup>
                                    {%- endif %}
                                </li>
                                {%- else %}
                                <li>{{page.subtitle}}</li>
                                {%- endif %}
                            {%- endfor %}
                        </ol>
                        </div>
                    </div>
                    <div class="column" style="width:49%;">
                        <div class="center">
                        <ol start="9">
                            {%- for page in pages limit:8 offset:8 %}
                            {%- if page.ready == true %}
                            <li><a href="{{ page.url | relative_url }}">{{page.subtitle}}</a>
                                {%- if site.hide_pdf_links == true %}
                                {%- else %}
                                <sup>
                                    <a href="{{ page.name | remove: ".md" | append: ".pdf"       | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                                        [pdf]
                                    </a>
                                </sup>
                                <sup>
                                    <a href="{{ page.name | remove: ".md" | append: "_print.pdf" | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                                        [pdf-print]
                                    </a>
                                </sup>
                                {%- endif %}
                            </li>
                            {%- else %}
                            <li>{{page.subtitle}}</li>
                            {%- endif %}
                            {%- endfor %}
                        </ol>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="center">
                    <ol>
                        {%- for page in pages %}
                        {%- if page.ready == true %}
                        <li><a href="{{ page.url | relative_url }}">{{page.subtitle}}</a>
                            {%- if site.hide_pdf_links == true %}
                            {%- else %}
                            <sup>
                                <a href="{{ page.name | remove: ".md" | append: ".pdf"       | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                                    [pdf]
                                </a>
                            </sup>
                            <sup>
                                <a href="{{ page.name | remove: ".md" | append: "_print.pdf" | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                                    [pdf-print]
                                </a>
                            </sup>
                            {%- endif %}
                        </li>
                        {%- else %}
                        <li>{{page.subtitle}}</li>
                        {%- endif %}
                        {%- endfor %}
                    </ol>
                    </div>
                {% endif %}
            </section>

        <!--
            <section>
                <h3>Übungsblätter</h3>
                {%- assign image_files = site.static_files -%}
                <div class="center">
                    <ul>
                        {%- for myimage in image_files -%}
                            {%- if myimage.path contains '-uebung.pdf' %}
                        <li><a href="{{ myimage.path | relative_url  }}">{{ myimage.basename | replace: "-uebung", "" | append: ".pdf" }}</a></li>
                            {%- endif -%}
                        {%- endfor %}
                    </ul>
                </div>
            </section>
        -->
		</div>
	</div>

{% include revealjs-initialize.html %}

</body>

</html>
