<!doctype html>
<html lang="en">

{% include revealjs-head.html %}
 
<body>

	<div class="reveal">
        <!-- University / company Logo -->
        {% if site.logo %}
        <!-- University / company Logo -->
        <img class="logo" src="{{ site.logo | relative_url }}" alt="Logo"></img>
        {% endif %}
        
		<div class="slides">

            <!-- Generate Entry Slide -->
            <section>
                <h1 style="text-align: left; text-transform:none">{{ site.title }}</h1>
                <p style="text-align: left">{{ page.author }}</p>
            </section>

            {{ content }}

		</div>
	</div>

{% include revealjs-initialize.html %}

</body>

</html>
