<!doctype html>
<html lang="en">

{% include revealjs-head.html %}

<body>

    {% if page.forkme %}
    <!-- **** Begin Fork-Me-On-Gitlab-Ribbon-HTML. See MIT License at https://gitlab.com/seanwasere/fork-me-on-gitlab **** -->
    <a href="{{ page.forkme }}">
        <span
            style="font-family: tahoma; font-size: 20px; position:fixed; top:50px; right:-45px; display:block; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); background-color:red; color:black; padding: 4px 30px 4px 30px; z-index:99">Fork
            Me On GitLab</span>
    </a>
    <!-- **** End Fork-Me-On-Gitlab-Ribbon-HTML **** -->
    {% endif %}

	<div class="reveal">
        {% if site.logo %}
        <!-- University / company Logo -->
        <img class="logo" src="{% link {{ site.logo}} %}" alt="Logo">
        {% endif %}

		<div class="slides">
            <section>
                <p><h2 style="text-align: left">{{ site.title }}</h2></p>
                <p><h3 style="text-align: left; text-transform:none">{{ page.subtitle }}</h3></p>
                <p style="text-align: left">{{ page.author }}</p>
                {%- if site.hide_pdf_links == true %}
                {%- else %}
                <p class='medium-font' style="text-align: left; margin-top: 5em";>
                    <a href="{{ page.name | remove: ".md" | append: ".pdf"       | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                        PDF
                    </a>
                    <br>
                    <a href="{{ page.name | remove: ".md" | append: "_print.pdf" | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                        PDF zum Drucken
                    </a>
                    {%- if page.notebook_vs_code and page.notebook_vs_code != "" %}
                        <br>
                        <a href="{{ page.notebook_vs_code }}" style="font-size: large" target="_blank">
                        Notebook öffnen
                        </a>
                    {%- endif %}
                    {%- if page.notebook_download and page.notebook_download != "" %}
                        <br>
                        <a download href="{{ page.notebook_download }}" style="font-size: large" target="_blank">
                            Notebook herunterladen
                        </a>
                    {%- endif %}
                </p>
                {%- endif %}
            </section>

            {{ content }}

            <section>
                
                <a href="{{ 'folien/index.html#1' | relative_url }}">Zurück zur Übersicht</a>
            </section>   
		</div>
	</div>

    {% include revealjs-initialize.html %}

    
</body>

</html>
