<!doctype html>
<html lang="en">

{% include revealjs-head.html %}
 
<body>

	<div class="reveal">
        <!-- University / company Logo -->
        {% if site.logo %}
        <!-- University / company Logo -->
        <img class="logo" src="{{ site.logo | relative_url }}" alt="Logo"></img>
        {% endif %}
        
		<div class="slides">

            <!-- Generate Entry Slide -->
            <section>
                <h1 style="text-align: left; text-transform:none">{{ site.title }}</h2>
                <p style="text-align: left">{{ page.author }}</p>
            </section>

            <section>
                <section>
                <h1>Vorlesungen</h1>
                </section>

                {% assign lecture_counter = 1 %}
                {%- for topic in site.lectures %}
                    <section>
                        <h2>{{topic[0]}}</h2>
                        <div class="center">
                            <ol start="{{ lecture_counter }}">
                            {%- for lecture in topic[1] %}
                                {% assign lecture_counter = lecture_counter | plus:1 %}
                                {%- assign md_name = lecture | append: ".md" %}
                                {%- assign page = site.pages | where_exp: "page", "page.name == md_name" | first %}
                                <li>
                                    {%- if page.ready == true %}
                                        <a href="{{ page.url | relative_url }}">{{page.subtitle}}</a>
                                        {%- if site.hide_pdf_links == true %}
                                        {%- else %}
                                            <sup>
                                                <a href="{{ page.name | remove: ".md" | append: ".pdf"       | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                                                    [pdf]
                                                </a>
                                            </sup>
                                            <sup>
                                                <a href="{{ page.name | remove: ".md" | append: "_print.pdf" | prepend: "/assets/pdfs/" | relative_url }}" style="font-size: large">
                                                    [pdf-print]
                                                </a>
                                            </sup>
                                            {%- if page.notebook_vs_code and page.notebook_vs_code != "" %}
                                            <sup>
                                                <a href="{{ page.notebook_vs_code }}" style="font-size: large" target="_blank">
                                                    [Notebook öffnen]
                                                </a>
                                            </sup>
                                            {%- endif %}
                                            {%- if page.notebook_download and page.notebook_download != "" %}
                                            {% assign filename = page.notebook_download | split: '/' | last %}
                                            <sup>
                                                <a download="{{filename}}" href="{{ page.notebook_download }}" style="font-size: large" target="_blank">
                                                    [Notebook herunterladen]
                                                </a>
                                            </sup>
                                            {%- endif %}
                                        {%- endif %}
                                    {%- else %}
                                        {{page.subtitle}} (coming soon)
                                    {%- endif %}
                                </li>
                            {%- endfor %}
                            </ol>      
                        </div>
                    </section>
                {% endfor %}
            </section>

            {{ content }}

		</div>
	</div>

{% include revealjs-initialize.html %}

</body>

</html>
